---
// Henter parametrene fra Astro.props
const { variant= "primary", size = "medium" } = Astro.props; 
 
//Definer den styling (Tailwind classes, der gør sig gældende for alle knapper)
const buttonStyling = "cursor-pointer rounded-uniform font-body uppercase tracking-wide transition-all duration-300"; 
 
//Definer den styling (Tailwind classes), der gør sig gældende for de forskellige varianter 
const variantClasses = {
"primary": "border-2 border-primary text-primary hover:bg-primary hover:text-secondary",
"secondary": "border-2 border-secondary text-secondary hover:bg-secondary hover:text-primary"
};
 
//Definer den styling (Tailwind classes), der gør sig gældende for de forskelligeog størrelser.
const sizeClasses = {
// Slightly smaller on mobile, original sizes on lg
"large": "text-[1.25rem] px-10 py-4 lg:text-[1.5rem] lg:px-16 lg:py-5",
"medium": "text-[1.125rem] px-6 py-2.5 lg:text-[1.25rem] lg:px-8 lg:py-3",
"small": "text-[0.9375rem] px-6 py-2.5 lg:text-[1rem] lg:px-8 lg:py-3"
};
---
<!--Sæt classes for den pågældende knap sammen ved hjælp af Astros class:list -->
<button class:list={[buttonStyling, variantClasses[variant], sizeClasses[size]]}><slot /></button>